/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   =========================================================================
 */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.viewport {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
  
.scroll-container {  
    position: absolute;  
    overflow: hidden;
    z-index: 10;
    display: flex;
    justify-content: center;  
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
::selection {
    background-color: transparent;
    color: #94ABF2;
}

/*  Air polution */
#dots {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1339px 1897px #FFF , 1379px 1386px #94ABF2 , 169px 1321px #94ABF2 , 719px 1451px #94ABF2 , 154px 1642px #94ABF2 , 1364px 1644px #94ABF2 , 1297px 435px #94ABF2 , 1242px 1880px #94ABF2 , 453px 471px #94ABF2 , 1009px 1929px #94ABF2 , 1995px 1805px #94ABF2 , 1331px 1453px #94ABF2 , 1663px 1925px #94ABF2 , 735px 1527px #94ABF2 , 1319px 490px #94ABF2 , 62px 1367px #94ABF2 , 1975px 1928px #94ABF2 , 41px 1069px #94ABF2 , 1970px 1757px #94ABF2 , 1598px 282px #94ABF2 , 543px 1151px #94ABF2 , 965px 673px #94ABF2 , 1260px 81px #94ABF2 , 1216px 329px #94ABF2 , 801px 1828px #94ABF2 , 1149px 1163px #94ABF2 , 633px 1118px #94ABF2 , 1491px 892px #94ABF2 , 264px 321px #94ABF2 , 1241px 1472px #94ABF2 , 537px 1203px #94ABF2 , 1199px 1328px #94ABF2 , 835px 1717px #94ABF2 , 42px 1431px #94ABF2 , 1571px 250px #94ABF2 , 1031px 679px #94ABF2 , 1046px 1155px #94ABF2 , 1045px 1540px #94ABF2 , 927px 931px #94ABF2 , 762px 74px #94ABF2 , 1031px 1453px #94ABF2 , 1415px 1369px #94ABF2 , 708px 1121px #94ABF2 , 218px 65px #94ABF2 , 1132px 472px #94ABF2 , 342px 1533px #94ABF2 , 1079px 1407px #94ABF2 , 1470px 366px #94ABF2 , 1594px 462px #94ABF2 , 1210px 1326px #94ABF2 , 686px 654px #94ABF2 , 119px 1662px #94ABF2 , 1058px 1068px #94ABF2 , 454px 1795px #94ABF2 , 736px 139px #94ABF2 , 215px 2000px #94ABF2 , 929px 51px #94ABF2 , 92px 1617px #94ABF2 , 362px 1016px #94ABF2 , 1041px 40px #94ABF2 , 1664px 1883px #94ABF2 , 1852px 82px #94ABF2 , 677px 505px #94ABF2 , 1461px 180px #94ABF2 , 1248px 1586px #94ABF2 , 1589px 480px #94ABF2 , 1388px 854px #94ABF2 , 941px 1406px #94ABF2 , 484px 331px #94ABF2 , 600px 159px #94ABF2 , 18px 1183px #94ABF2 , 1937px 1628px #94ABF2 , 504px 1785px #94ABF2 , 1024px 1494px #94ABF2 , 1486px 280px #94ABF2 , 1025px 770px #94ABF2 , 1159px 1935px #94ABF2 , 21px 1441px #94ABF2 , 1387px 747px #94ABF2 , 1163px 762px #94ABF2 , 346px 1371px #94ABF2 , 1886px 1625px #94ABF2 , 1233px 1491px #94ABF2 , 609px 1054px #94ABF2 , 965px 1852px #94ABF2 , 282px 277px #94ABF2 , 757px 1188px #94ABF2 , 1287px 1796px #94ABF2 , 1718px 506px #94ABF2 , 167px 179px #94ABF2 , 1102px 1718px #94ABF2 , 1193px 860px #94ABF2 , 795px 723px #94ABF2 , 1246px 81px #94ABF2 , 474px 761px #94ABF2 , 986px 275px #94ABF2 , 1789px 1945px #94ABF2 , 995px 483px #94ABF2 , 192px 1976px #94ABF2 , 996px 146px #94ABF2 , 1191px 1973px #94ABF2 , 606px 982px #94ABF2 , 1707px 44px #94ABF2 , 285px 956px #94ABF2 , 1072px 1310px #94ABF2 , 404px 673px #94ABF2 , 457px 1539px #94ABF2 , 1077px 991px #94ABF2 , 66px 716px #94ABF2 , 134px 1515px #94ABF2 , 276px 506px #94ABF2 , 1232px 84px #94ABF2 , 1479px 1831px #94ABF2 , 135px 1435px #94ABF2 , 1257px 891px #94ABF2 , 1529px 1735px #94ABF2 , 851px 1482px #94ABF2 , 602px 1931px #94ABF2 , 1894px 1771px #94ABF2 , 1479px 537px #94ABF2 , 1462px 332px #94ABF2 , 660px 1205px #94ABF2 , 857px 530px #94ABF2 , 913px 1837px #94ABF2 , 1382px 1521px #94ABF2 , 69px 399px #94ABF2 , 1383px 596px #94ABF2 , 1006px 249px #94ABF2 , 1291px 246px #94ABF2 , 484px 1755px #94ABF2 , 1352px 781px #94ABF2 , 884px 338px #94ABF2 , 1895px 335px #94ABF2 , 32px 1573px #94ABF2 , 1929px 27px #94ABF2 , 737px 1038px #94ABF2 , 427px 1331px #94ABF2 , 697px 1320px #94ABF2 , 828px 320px #94ABF2 , 973px 1901px #94ABF2 , 1464px 501px #94ABF2 , 1142px 1909px #94ABF2 , 487px 208px #94ABF2 , 1360px 1781px #94ABF2 , 1958px 1272px #94ABF2 , 433px 1861px #94ABF2 , 407px 462px #94ABF2 , 230px 1848px #94ABF2 , 1922px 1820px #94ABF2 , 324px 71px #94ABF2 , 1239px 1492px #94ABF2 , 1139px 1783px #94ABF2 , 881px 16px #94ABF2 , 1718px 1125px #94ABF2 , 875px 972px #94ABF2 , 1129px 207px #94ABF2 , 128px 1043px #94ABF2 , 862px 1038px #94ABF2 , 1831px 1075px #94ABF2 , 1666px 1195px #94ABF2 , 271px 70px #94ABF2 , 117px 244px #94ABF2 , 1842px 1496px #94ABF2 , 1989px 95px #94ABF2 , 998px 1159px #94ABF2 , 1625px 1594px #94ABF2 , 1467px 272px #94ABF2 , 1911px 1664px #94ABF2 , 1683px 1338px #94ABF2 , 613px 1484px #94ABF2 , 1789px 1679px #94ABF2 , 711px 1535px #94ABF2 , 1674px 535px #94ABF2 , 819px 1411px #94ABF2 , 1968px 756px #94ABF2 , 1289px 1293px #94ABF2 , 541px 452px #94ABF2 , 1670px 863px #94ABF2 , 1533px 1430px #94ABF2 , 1135px 1129px #94ABF2 , 939px 765px #94ABF2 , 167px 643px #94ABF2 , 1625px 586px #94ABF2 , 598px 1894px #94ABF2 , 225px 557px #94ABF2 , 219px 1963px #94ABF2 , 621px 1322px #94ABF2 , 1528px 207px #94ABF2 , 1981px 1418px #94ABF2 , 1797px 1537px #94ABF2 , 607px 30px #94ABF2 , 1261px 610px #94ABF2 , 548px 412px #94ABF2 , 547px 1256px #94ABF2 , 36px 482px #94ABF2 , 1951px 124px #94ABF2 , 708px 930px #94ABF2 , 396px 342px #94ABF2 , 874px 662px #94ABF2 , 441px 1489px #94ABF2 , 1371px 590px #94ABF2 , 1588px 1248px #94ABF2 , 1531px 144px #94ABF2 , 1164px 396px #94ABF2 , 1296px 483px #94ABF2 , 1923px 1639px #94ABF2 , 1189px 1826px #94ABF2 , 1365px 69px #94ABF2 , 986px 103px #94ABF2 , 1194px 1436px #94ABF2 , 46px 1128px #94ABF2 , 953px 837px #94ABF2 , 546px 40px #94ABF2 , 278px 1667px #94ABF2 , 76px 583px #94ABF2 , 393px 453px #94ABF2 , 1203px 1719px #94ABF2 , 828px 939px #94ABF2 , 1790px 287px #94ABF2 , 651px 1276px #94ABF2 , 730px 37px #94ABF2 , 784px 10px #94ABF2 , 953px 1139px #94ABF2 , 1392px 1756px #94ABF2 , 1897px 1943px #94ABF2 , 1896px 479px #94ABF2 , 265px 1740px #94ABF2 , 618px 21px #94ABF2 , 1901px 1030px #94ABF2 , 503px 1184px #94ABF2 , 269px 1731px #94ABF2 , 1888px 14px #94ABF2 , 887px 1834px #94ABF2 , 1759px 1827px #94ABF2 , 225px 1245px #94ABF2 , 1422px 181px #94ABF2 , 1187px 921px #94ABF2 , 1229px 1092px #94ABF2 , 1204px 1646px #94ABF2 , 252px 325px #94ABF2 , 1114px 1306px #94ABF2 , 1786px 1124px #94ABF2 , 1911px 1924px #94ABF2 , 1430px 1092px #94ABF2 , 1865px 911px #94ABF2 , 429px 1500px #94ABF2 , 701px 1380px #94ABF2 , 333px 1644px #94ABF2 , 1186px 1485px #94ABF2 , 371px 36px #94ABF2 , 159px 186px #94ABF2 , 848px 334px #94ABF2 , 1140px 1606px #94ABF2 , 102px 559px #94ABF2 , 1323px 489px #94ABF2 , 1904px 974px #94ABF2 , 1204px 412px #94ABF2 , 1172px 1291px #94ABF2 , 190px 1404px #94ABF2 , 914px 1588px #94ABF2 , 691px 237px #94ABF2 , 858px 584px #94ABF2 , 1975px 837px #94ABF2 , 1854px 129px #94ABF2 , 80px 271px #94ABF2 , 188px 654px #94ABF2 , 1863px 1438px #94ABF2 , 1030px 893px #94ABF2 , 1222px 1257px #94ABF2 , 125px 1997px #94ABF2 , 1328px 129px #94ABF2 , 1909px 1871px #94ABF2 , 769px 90px #94ABF2 , 435px 198px #94ABF2 , 1522px 1652px #94ABF2 , 1532px 205px #94ABF2 , 224px 1298px #94ABF2 , 518px 1256px #94ABF2 , 595px 442px #94ABF2 , 1927px 1494px #94ABF2 , 501px 716px #94ABF2 , 46px 1435px #94ABF2 , 904px 563px #94ABF2 , 450px 731px #94ABF2 , 622px 1662px #94ABF2 , 256px 78px #94ABF2 , 1957px 1297px #94ABF2 , 903px 1740px #94ABF2 , 215px 1777px #94ABF2 , 1814px 602px #94ABF2 , 1681px 1001px #94ABF2 , 1783px 408px #94ABF2 , 1770px 1408px #94ABF2 , 646px 1508px #94ABF2 , 1057px 1290px #94ABF2 , 1956px 1353px #94ABF2 , 1885px 577px #94ABF2 , 264px 702px #94ABF2 , 37px 1612px #94ABF2 , 1409px 1376px #94ABF2 , 587px 1443px #94ABF2 , 700px 918px #94ABF2 , 1311px 1743px #94ABF2 , 1331px 639px #94ABF2 , 1397px 792px #94ABF2 , 693px 887px #94ABF2 , 1204px 1162px #94ABF2 , 1219px 1322px #94ABF2 , 1119px 1938px #94ABF2 , 136px 1833px #94ABF2 , 343px 1084px #94ABF2 , 275px 1578px #94ABF2 , 1791px 1107px #94ABF2 , 1448px 1727px #94ABF2 , 1196px 650px #94ABF2 , 1977px 294px #94ABF2 , 1887px 1148px #94ABF2 , 1543px 1493px #94ABF2 , 846px 201px #94ABF2 , 1548px 1872px #94ABF2 , 558px 1568px #94ABF2 , 472px 1618px #94ABF2 , 931px 1591px #94ABF2 , 728px 461px #94ABF2 , 1701px 1431px #94ABF2 , 1681px 1248px #94ABF2 , 593px 994px #94ABF2 , 42px 25px #94ABF2 , 1374px 410px #94ABF2 , 380px 1056px #94ABF2 , 198px 725px #94ABF2 , 766px 1749px #94ABF2 , 1588px 899px #94ABF2 , 1087px 1171px #94ABF2 , 517px 945px #94ABF2 , 704px 1304px #94ABF2 , 1859px 121px #94ABF2 , 1148px 865px #94ABF2 , 1182px 1334px #94ABF2 , 1520px 1312px #94ABF2 , 1540px 1387px #94ABF2 , 1311px 689px #94ABF2 , 814px 962px #94ABF2 , 1685px 730px #94ABF2 , 835px 1847px #94ABF2 , 1106px 1419px #94ABF2 , 373px 484px #94ABF2 , 712px 571px #94ABF2 , 489px 1433px #94ABF2 , 411px 1231px #94ABF2 , 888px 393px #94ABF2 , 91px 1530px #94ABF2 , 321px 1423px #94ABF2 , 1652px 230px #94ABF2 , 1459px 46px #94ABF2 , 491px 1142px #94ABF2 , 1425px 1174px #94ABF2 , 664px 538px #94ABF2 , 1478px 429px #94ABF2 , 1441px 1549px #94ABF2 , 1093px 750px #94ABF2 , 1080px 1658px #94ABF2 , 998px 1616px #94ABF2 , 372px 1789px #94ABF2 , 803px 1595px #94ABF2 , 1658px 594px #94ABF2 , 578px 475px #94ABF2 , 1047px 925px #94ABF2 , 778px 640px #94ABF2 , 956px 853px #94ABF2 , 603px 319px #94ABF2 , 1371px 1413px #94ABF2 , 1050px 1765px #94ABF2 , 1308px 365px #94ABF2 , 1015px 1986px #94ABF2 , 363px 284px #94ABF2 , 1987px 1268px #94ABF2 , 1702px 274px #94ABF2 , 1278px 795px #94ABF2 , 1540px 776px #94ABF2 , 393px 446px #94ABF2 , 441px 308px #94ABF2 , 1513px 1859px #94ABF2 , 1958px 1425px #94ABF2 , 680px 739px #94ABF2 , 963px 1727px #94ABF2 , 803px 1469px #94ABF2 , 106px 935px #94ABF2 , 565px 1814px #94ABF2 , 379px 676px #94ABF2 , 1005px 608px #94ABF2 , 603px 643px #94ABF2 , 268px 737px #94ABF2 , 242px 1583px #94ABF2 , 135px 408px #94ABF2 , 1644px 1597px #94ABF2 , 1820px 852px #94ABF2 , 872px 1689px #94ABF2 , 1104px 738px #94ABF2 , 348px 1108px #94ABF2 , 667px 989px #94ABF2 , 1363px 1682px #94ABF2 , 460px 399px #94ABF2 , 74px 1757px #94ABF2 , 1349px 1790px #94ABF2 , 1560px 1043px #94ABF2 , 484px 1816px #94ABF2 , 630px 1823px #94ABF2 , 602px 1317px #94ABF2 , 95px 1303px #94ABF2 , 22px 362px #94ABF2 , 782px 700px #94ABF2 , 1721px 350px #94ABF2 , 1264px 1834px #94ABF2 , 696px 381px #94ABF2 , 457px 1388px #94ABF2 , 1859px 693px #94ABF2 , 715px 1450px #94ABF2 , 816px 1523px #94ABF2 , 1058px 1180px #94ABF2 , 937px 329px #94ABF2 , 327px 1316px #94ABF2 , 1256px 1872px #94ABF2 , 1785px 1004px #94ABF2 , 1742px 1466px #94ABF2 , 1237px 597px #94ABF2 , 1861px 531px #94ABF2 , 1833px 1604px #94ABF2 , 1204px 1784px #94ABF2 , 1012px 1853px #94ABF2 , 1298px 971px #94ABF2 , 266px 477px #94ABF2 , 537px 1125px #94ABF2 , 791px 400px #94ABF2 , 1152px 548px #94ABF2 , 1933px 662px #94ABF2 , 1231px 968px #94ABF2 , 252px 1847px #94ABF2 , 1538px 1595px #94ABF2 , 315px 1820px #94ABF2 , 1026px 616px #94ABF2 , 417px 1713px #94ABF2 , 1967px 1347px #94ABF2 , 766px 961px #94ABF2 , 186px 1016px #94ABF2 , 574px 767px #94ABF2 , 1561px 913px #94ABF2 , 1414px 92px #94ABF2 , 1636px 1045px #94ABF2 , 1782px 1463px #94ABF2 , 1182px 999px #94ABF2 , 1613px 760px #94ABF2 , 1811px 1596px #94ABF2 , 493px 58px #94ABF2 , 716px 1415px #94ABF2 , 1501px 1972px #94ABF2 , 893px 329px #94ABF2 , 193px 333px #94ABF2 , 55px 1646px #94ABF2 , 499px 693px #94ABF2 , 1887px 104px #94ABF2 , 1912px 1125px #94ABF2 , 322px 1718px #94ABF2 , 1037px 107px #94ABF2 , 1203px 249px #94ABF2 , 1448px 1937px #94ABF2 , 157px 172px #94ABF2 , 432px 636px #94ABF2 , 1085px 1948px #94ABF2 , 866px 1248px #94ABF2 , 350px 1347px #94ABF2 , 112px 1063px #94ABF2 , 1230px 1461px #94ABF2 , 1424px 580px #94ABF2 , 1642px 1117px #94ABF2 , 578px 1833px #94ABF2 , 1346px 987px #94ABF2 , 1961px 728px #94ABF2 , 1670px 931px #94ABF2 , 228px 1097px #94ABF2 , 1050px 694px #94ABF2 , 296px 788px #94ABF2 , 490px 1080px #94ABF2 , 1307px 1119px #94ABF2 , 856px 477px #94ABF2 , 1264px 1908px #94ABF2 , 436px 784px #94ABF2 , 219px 500px #94ABF2 , 676px 1236px #94ABF2 , 791px 1px #94ABF2 , 646px 722px #94ABF2 , 200px 1769px #94ABF2 , 1998px 654px #94ABF2 , 1685px 1856px #94ABF2 , 439px 1725px #94ABF2 , 1707px 1613px #94ABF2 , 1639px 601px #94ABF2 , 1655px 196px #94ABF2 , 1657px 640px #94ABF2 , 759px 641px #94ABF2 , 1498px 1053px #94ABF2 , 45px 1721px #94ABF2 , 581px 1423px #94ABF2 , 638px 520px #94ABF2 , 150px 1677px #94ABF2 , 238px 677px #94ABF2 , 231px 1111px #94ABF2 , 352px 1028px #94ABF2 , 209px 1292px #94ABF2 , 961px 184px #94ABF2 , 324px 1775px #94ABF2 , 271px 1850px #94ABF2 , 1115px 1754px #94ABF2 , 685px 1141px #94ABF2 , 103px 994px #94ABF2 , 1816px 543px #94ABF2 , 930px 1541px #94ABF2 , 805px 1887px #94ABF2 , 1885px 1447px #94ABF2 , 360px 1554px #94ABF2 , 1713px 1117px #94ABF2 , 792px 203px #94ABF2 , 656px 1394px #94ABF2 , 1272px 1418px #94ABF2 , 1398px 1581px #94ABF2 , 1301px 621px #94ABF2 , 1585px 115px #94ABF2 , 53px 92px #94ABF2 , 1826px 1271px #94ABF2 , 200px 1047px #94ABF2 , 283px 1965px #94ABF2 , 1949px 1526px #94ABF2 , 1493px 262px #94ABF2 , 1452px 1703px #94ABF2 , 183px 1929px #94ABF2 , 255px 531px #94ABF2 , 1931px 1594px #94ABF2 , 1994px 1374px #94ABF2 , 30px 1737px #94ABF2 , 357px 1441px #94ABF2 , 687px 195px #94ABF2 , 862px 1948px #94ABF2 , 825px 654px #94ABF2 , 1554px 1223px #94ABF2 , 1602px 1432px #94ABF2 , 1195px 613px #94ABF2 , 1323px 1607px #94ABF2 , 381px 1713px #94ABF2 , 1403px 1084px #94ABF2 , 472px 563px #94ABF2 , 1415px 895px #94ABF2 , 632px 1202px #94ABF2 , 1763px 182px #94ABF2 , 65px 992px #94ABF2 , 1707px 297px #94ABF2 , 1478px 29px #94ABF2 , 1088px 1511px #94ABF2 , 1440px 423px #94ABF2 , 1575px 873px #94ABF2 , 334px 31px #94ABF2 , 859px 597px #94ABF2 , 1871px 373px #94ABF2 , 850px 1419px #94ABF2 , 414px 1413px #94ABF2 , 1546px 777px #94ABF2 , 781px 1005px #94ABF2 , 1241px 1727px #94ABF2 , 897px 696px #94ABF2 , 36px 1776px #94ABF2 , 81px 867px #94ABF2 , 422px 816px #94ABF2 , 659px 999px #94ABF2 , 1953px 1591px #94ABF2 , 1475px 879px #94ABF2 , 214px 1267px #94ABF2 , 1883px 1478px #94ABF2 , 458px 609px #94ABF2 , 330px 1037px #94ABF2 , 508px 224px #94ABF2 , 579px 420px #94ABF2 , 1834px 1750px #94ABF2 , 476px 923px #94ABF2 , 1582px 1899px #94ABF2 , 1955px 1931px #94ABF2 , 1355px 1450px #94ABF2 , 519px 1588px #94ABF2 , 478px 178px #94ABF2 , 1524px 452px #94ABF2 , 289px 841px #94ABF2 , 1854px 1119px #94ABF2 , 1679px 1716px #94ABF2 , 1690px 1696px #94ABF2 , 1939px 1907px #94ABF2 , 879px 1173px #94ABF2 , 356px 203px #94ABF2 , 689px 912px #94ABF2 , 1710px 280px #94ABF2 , 322px 17px #94ABF2 , 1553px 1292px #94ABF2 , 1296px 825px #94ABF2 , 1397px 348px #94ABF2 , 822px 1910px #94ABF2 , 1213px 853px #94ABF2 , 758px 935px #94ABF2 , 844px 582px #94ABF2 , 773px 1499px #94ABF2 , 1702px 1016px #94ABF2 , 552px 1678px #94ABF2 , 1882px 529px #94ABF2 , 1445px 337px #94ABF2 , 1691px 1155px #94ABF2 , 727px 1838px #94ABF2 , 1573px 1456px #94ABF2 , 373px 1833px #94ABF2 , 1659px 1750px #94ABF2 , 768px 111px #94ABF2 , 1145px 1779px #94ABF2 , 1648px 1548px #94ABF2 , 1138px 1132px #94ABF2 , 1067px 412px #94ABF2 , 1212px 1220px #94ABF2 , 908px 900px #94ABF2 , 1339px 1272px #94ABF2 , 1604px 169px #94ABF2 , 1683px 940px #94ABF2 , 1116px 1001px #94ABF2 , 1216px 726px #94ABF2 , 1173px 1996px #94ABF2 , 1813px 1359px #94ABF2 , 433px 1046px #94ABF2 , 1522px 1954px #94ABF2 , 1145px 375px #94ABF2 , 1124px 250px #94ABF2 , 1758px 684px #94ABF2 , 438px 498px #94ABF2 , 1105px 1859px #94ABF2 , 316px 421px #94ABF2 , 173px 1793px #94ABF2 , 1336px 674px #94ABF2 , 400px 1757px #94ABF2 , 75px 484px #94ABF2 , 981px 835px #94ABF2 , 607px 1255px #94ABF2 , 917px 657px #94ABF2 , 756px 1992px #94ABF2 , 1823px 1885px #94ABF2 , 1596px 1287px #94ABF2 , 841px 1144px #94ABF2 , 16px 1778px #94ABF2 , 558px 15px #94ABF2 , 1053px 743px #94ABF2 , 1748px 833px #94ABF2 , 705px 1439px #94ABF2 , 12px 1483px #94ABF2 , 1364px 1175px #94ABF2 , 683px 581px #94ABF2 , 497px 517px #94ABF2 , 313px 545px #94ABF2 , 1071px 121px #94ABF2 , 631px 1509px #94ABF2 , 1060px 1813px #94ABF2 , 1687px 655px #94ABF2 , 797px 101px #94ABF2 , 214px 840px #94ABF2 , 215px 572px #94ABF2 , 1459px 434px #94ABF2 , 196px 423px #94ABF2 , 1829px 875px #94ABF2 , 932px 968px #94ABF2 , 305px 1673px #94ABF2 , 1121px 693px #94ABF2 , 1711px 265px #94ABF2 , 549px 1236px #94ABF2 , 1393px 1477px #94ABF2 , 271px 84px #94ABF2 , 1407px 1274px #94ABF2 , 5px 534px #94ABF2 , 36px 1575px #94ABF2 , 645px 1141px #94ABF2 , 1060px 348px #94ABF2 , 1929px 1740px #94ABF2 , 1609px 1815px #94ABF2 , 1341px 1787px #94ABF2 , 1043px 90px #94ABF2 , 635px 791px #94ABF2 , 1616px 1166px #94ABF2 , 1402px 541px #94ABF2 , 1270px 778px #94ABF2 , 84px 812px #94ABF2 , 157px 1473px #94ABF2 , 1466px 1717px #94ABF2 , 931px 106px #94ABF2 , 917px 1080px #94ABF2 , 1098px 107px #94ABF2 , 269px 1665px #94ABF2 , 709px 595px #94ABF2 , 597px 1860px #94ABF2 , 1270px 1519px #94ABF2 , 977px 1469px #94ABF2 , 326px 1759px #94ABF2;
    animation: animStar 50s linear infinite;
  }
  #dots:after {
    content: " ";
    position: absolute;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1339px 1897px #FFF , 1379px 1386px #94ABF2 , 169px 1321px #94ABF2 , 719px 1451px #94ABF2 , 154px 1642px #94ABF2 , 1364px 1644px #94ABF2 , 1297px 435px #94ABF2 , 1242px 1880px #94ABF2 , 453px 471px #94ABF2 , 1009px 1929px #94ABF2 , 1995px 1805px #94ABF2 , 1331px 1453px #94ABF2 , 1663px 1925px #94ABF2 , 735px 1527px #94ABF2 , 1319px 490px #94ABF2 , 62px 1367px #94ABF2 , 1975px 1928px #94ABF2 , 41px 1069px #94ABF2 , 1970px 1757px #94ABF2 , 1598px 282px #94ABF2 , 543px 1151px #94ABF2 , 965px 673px #94ABF2 , 1260px 81px #94ABF2 , 1216px 329px #94ABF2 , 801px 1828px #94ABF2 , 1149px 1163px #94ABF2 , 633px 1118px #94ABF2 , 1491px 892px #94ABF2 , 264px 321px #94ABF2 , 1241px 1472px #94ABF2 , 537px 1203px #94ABF2 , 1199px 1328px #94ABF2 , 835px 1717px #94ABF2 , 42px 1431px #94ABF2 , 1571px 250px #94ABF2 , 1031px 679px #94ABF2 , 1046px 1155px #94ABF2 , 1045px 1540px #94ABF2 , 927px 931px #94ABF2 , 762px 74px #94ABF2 , 1031px 1453px #94ABF2 , 1415px 1369px #94ABF2 , 708px 1121px #94ABF2 , 218px 65px #94ABF2 , 1132px 472px #94ABF2 , 342px 1533px #94ABF2 , 1079px 1407px #94ABF2 , 1470px 366px #94ABF2 , 1594px 462px #94ABF2 , 1210px 1326px #94ABF2 , 686px 654px #94ABF2 , 119px 1662px #94ABF2 , 1058px 1068px #94ABF2 , 454px 1795px #94ABF2 , 736px 139px #94ABF2 , 215px 2000px #94ABF2 , 929px 51px #94ABF2 , 92px 1617px #94ABF2 , 362px 1016px #94ABF2 , 1041px 40px #94ABF2 , 1664px 1883px #94ABF2 , 1852px 82px #94ABF2 , 677px 505px #94ABF2 , 1461px 180px #94ABF2 , 1248px 1586px #94ABF2 , 1589px 480px #94ABF2 , 1388px 854px #94ABF2 , 941px 1406px #94ABF2 , 484px 331px #94ABF2 , 600px 159px #94ABF2 , 18px 1183px #94ABF2 , 1937px 1628px #94ABF2 , 504px 1785px #94ABF2 , 1024px 1494px #94ABF2 , 1486px 280px #94ABF2 , 1025px 770px #94ABF2 , 1159px 1935px #94ABF2 , 21px 1441px #94ABF2 , 1387px 747px #94ABF2 , 1163px 762px #94ABF2 , 346px 1371px #94ABF2 , 1886px 1625px #94ABF2 , 1233px 1491px #94ABF2 , 609px 1054px #94ABF2 , 965px 1852px #94ABF2 , 282px 277px #94ABF2 , 757px 1188px #94ABF2 , 1287px 1796px #94ABF2 , 1718px 506px #94ABF2 , 167px 179px #94ABF2 , 1102px 1718px #94ABF2 , 1193px 860px #94ABF2 , 795px 723px #94ABF2 , 1246px 81px #94ABF2 , 474px 761px #94ABF2 , 986px 275px #94ABF2 , 1789px 1945px #94ABF2 , 995px 483px #94ABF2 , 192px 1976px #94ABF2 , 996px 146px #94ABF2 , 1191px 1973px #94ABF2 , 606px 982px #94ABF2 , 1707px 44px #94ABF2 , 285px 956px #94ABF2 , 1072px 1310px #94ABF2 , 404px 673px #94ABF2 , 457px 1539px #94ABF2 , 1077px 991px #94ABF2 , 66px 716px #94ABF2 , 134px 1515px #94ABF2 , 276px 506px #94ABF2 , 1232px 84px #94ABF2 , 1479px 1831px #94ABF2 , 135px 1435px #94ABF2 , 1257px 891px #94ABF2 , 1529px 1735px #94ABF2 , 851px 1482px #94ABF2 , 602px 1931px #94ABF2 , 1894px 1771px #94ABF2 , 1479px 537px #94ABF2 , 1462px 332px #94ABF2 , 660px 1205px #94ABF2 , 857px 530px #94ABF2 , 913px 1837px #94ABF2 , 1382px 1521px #94ABF2 , 69px 399px #94ABF2 , 1383px 596px #94ABF2 , 1006px 249px #94ABF2 , 1291px 246px #94ABF2 , 484px 1755px #94ABF2 , 1352px 781px #94ABF2 , 884px 338px #94ABF2 , 1895px 335px #94ABF2 , 32px 1573px #94ABF2 , 1929px 27px #94ABF2 , 737px 1038px #94ABF2 , 427px 1331px #94ABF2 , 697px 1320px #94ABF2 , 828px 320px #94ABF2 , 973px 1901px #94ABF2 , 1464px 501px #94ABF2 , 1142px 1909px #94ABF2 , 487px 208px #94ABF2 , 1360px 1781px #94ABF2 , 1958px 1272px #94ABF2 , 433px 1861px #94ABF2 , 407px 462px #94ABF2 , 230px 1848px #94ABF2 , 1922px 1820px #94ABF2 , 324px 71px #94ABF2 , 1239px 1492px #94ABF2 , 1139px 1783px #94ABF2 , 881px 16px #94ABF2 , 1718px 1125px #94ABF2 , 875px 972px #94ABF2 , 1129px 207px #94ABF2 , 128px 1043px #94ABF2 , 862px 1038px #94ABF2 , 1831px 1075px #94ABF2 , 1666px 1195px #94ABF2 , 271px 70px #94ABF2 , 117px 244px #94ABF2 , 1842px 1496px #94ABF2 , 1989px 95px #94ABF2 , 998px 1159px #94ABF2 , 1625px 1594px #94ABF2 , 1467px 272px #94ABF2 , 1911px 1664px #94ABF2 , 1683px 1338px #94ABF2 , 613px 1484px #94ABF2 , 1789px 1679px #94ABF2 , 711px 1535px #94ABF2 , 1674px 535px #94ABF2 , 819px 1411px #94ABF2 , 1968px 756px #94ABF2 , 1289px 1293px #94ABF2 , 541px 452px #94ABF2 , 1670px 863px #94ABF2 , 1533px 1430px #94ABF2 , 1135px 1129px #94ABF2 , 939px 765px #94ABF2 , 167px 643px #94ABF2 , 1625px 586px #94ABF2 , 598px 1894px #94ABF2 , 225px 557px #94ABF2 , 219px 1963px #94ABF2 , 621px 1322px #94ABF2 , 1528px 207px #94ABF2 , 1981px 1418px #94ABF2 , 1797px 1537px #94ABF2 , 607px 30px #94ABF2 , 1261px 610px #94ABF2 , 548px 412px #94ABF2 , 547px 1256px #94ABF2 , 36px 482px #94ABF2 , 1951px 124px #94ABF2 , 708px 930px #94ABF2 , 396px 342px #94ABF2 , 874px 662px #94ABF2 , 441px 1489px #94ABF2 , 1371px 590px #94ABF2 , 1588px 1248px #94ABF2 , 1531px 144px #94ABF2 , 1164px 396px #94ABF2 , 1296px 483px #94ABF2 , 1923px 1639px #94ABF2 , 1189px 1826px #94ABF2 , 1365px 69px #94ABF2 , 986px 103px #94ABF2 , 1194px 1436px #94ABF2 , 46px 1128px #94ABF2 , 953px 837px #94ABF2 , 546px 40px #94ABF2 , 278px 1667px #94ABF2 , 76px 583px #94ABF2 , 393px 453px #94ABF2 , 1203px 1719px #94ABF2 , 828px 939px #94ABF2 , 1790px 287px #94ABF2 , 651px 1276px #94ABF2 , 730px 37px #94ABF2 , 784px 10px #94ABF2 , 953px 1139px #94ABF2 , 1392px 1756px #94ABF2 , 1897px 1943px #94ABF2 , 1896px 479px #94ABF2 , 265px 1740px #94ABF2 , 618px 21px #94ABF2 , 1901px 1030px #94ABF2 , 503px 1184px #94ABF2 , 269px 1731px #94ABF2 , 1888px 14px #94ABF2 , 887px 1834px #94ABF2 , 1759px 1827px #94ABF2 , 225px 1245px #94ABF2 , 1422px 181px #94ABF2 , 1187px 921px #94ABF2 , 1229px 1092px #94ABF2 , 1204px 1646px #94ABF2 , 252px 325px #94ABF2 , 1114px 1306px #94ABF2 , 1786px 1124px #94ABF2 , 1911px 1924px #94ABF2 , 1430px 1092px #94ABF2 , 1865px 911px #94ABF2 , 429px 1500px #94ABF2 , 701px 1380px #94ABF2 , 333px 1644px #94ABF2 , 1186px 1485px #94ABF2 , 371px 36px #94ABF2 , 159px 186px #94ABF2 , 848px 334px #94ABF2 , 1140px 1606px #94ABF2 , 102px 559px #94ABF2 , 1323px 489px #94ABF2 , 1904px 974px #94ABF2 , 1204px 412px #94ABF2 , 1172px 1291px #94ABF2 , 190px 1404px #94ABF2 , 914px 1588px #94ABF2 , 691px 237px #94ABF2 , 858px 584px #94ABF2 , 1975px 837px #94ABF2 , 1854px 129px #94ABF2 , 80px 271px #94ABF2 , 188px 654px #94ABF2 , 1863px 1438px #94ABF2 , 1030px 893px #94ABF2 , 1222px 1257px #94ABF2 , 125px 1997px #94ABF2 , 1328px 129px #94ABF2 , 1909px 1871px #94ABF2 , 769px 90px #94ABF2 , 435px 198px #94ABF2 , 1522px 1652px #94ABF2 , 1532px 205px #94ABF2 , 224px 1298px #94ABF2 , 518px 1256px #94ABF2 , 595px 442px #94ABF2 , 1927px 1494px #94ABF2 , 501px 716px #94ABF2 , 46px 1435px #94ABF2 , 904px 563px #94ABF2 , 450px 731px #94ABF2 , 622px 1662px #94ABF2 , 256px 78px #94ABF2 , 1957px 1297px #94ABF2 , 903px 1740px #94ABF2 , 215px 1777px #94ABF2 , 1814px 602px #94ABF2 , 1681px 1001px #94ABF2 , 1783px 408px #94ABF2 , 1770px 1408px #94ABF2 , 646px 1508px #94ABF2 , 1057px 1290px #94ABF2 , 1956px 1353px #94ABF2 , 1885px 577px #94ABF2 , 264px 702px #94ABF2 , 37px 1612px #94ABF2 , 1409px 1376px #94ABF2 , 587px 1443px #94ABF2 , 700px 918px #94ABF2 , 1311px 1743px #94ABF2 , 1331px 639px #94ABF2 , 1397px 792px #94ABF2 , 693px 887px #94ABF2 , 1204px 1162px #94ABF2 , 1219px 1322px #94ABF2 , 1119px 1938px #94ABF2 , 136px 1833px #94ABF2 , 343px 1084px #94ABF2 , 275px 1578px #94ABF2 , 1791px 1107px #94ABF2 , 1448px 1727px #94ABF2 , 1196px 650px #94ABF2 , 1977px 294px #94ABF2 , 1887px 1148px #94ABF2 , 1543px 1493px #94ABF2 , 846px 201px #94ABF2 , 1548px 1872px #94ABF2 , 558px 1568px #94ABF2 , 472px 1618px #94ABF2 , 931px 1591px #94ABF2 , 728px 461px #94ABF2 , 1701px 1431px #94ABF2 , 1681px 1248px #94ABF2 , 593px 994px #94ABF2 , 42px 25px #94ABF2 , 1374px 410px #94ABF2 , 380px 1056px #94ABF2 , 198px 725px #94ABF2 , 766px 1749px #94ABF2 , 1588px 899px #94ABF2 , 1087px 1171px #94ABF2 , 517px 945px #94ABF2 , 704px 1304px #94ABF2 , 1859px 121px #94ABF2 , 1148px 865px #94ABF2 , 1182px 1334px #94ABF2 , 1520px 1312px #94ABF2 , 1540px 1387px #94ABF2 , 1311px 689px #94ABF2 , 814px 962px #94ABF2 , 1685px 730px #94ABF2 , 835px 1847px #94ABF2 , 1106px 1419px #94ABF2 , 373px 484px #94ABF2 , 712px 571px #94ABF2 , 489px 1433px #94ABF2 , 411px 1231px #94ABF2 , 888px 393px #94ABF2 , 91px 1530px #94ABF2 , 321px 1423px #94ABF2 , 1652px 230px #94ABF2 , 1459px 46px #94ABF2 , 491px 1142px #94ABF2 , 1425px 1174px #94ABF2 , 664px 538px #94ABF2 , 1478px 429px #94ABF2 , 1441px 1549px #94ABF2 , 1093px 750px #94ABF2 , 1080px 1658px #94ABF2 , 998px 1616px #94ABF2 , 372px 1789px #94ABF2 , 803px 1595px #94ABF2 , 1658px 594px #94ABF2 , 578px 475px #94ABF2 , 1047px 925px #94ABF2 , 778px 640px #94ABF2 , 956px 853px #94ABF2 , 603px 319px #94ABF2 , 1371px 1413px #94ABF2 , 1050px 1765px #94ABF2 , 1308px 365px #94ABF2 , 1015px 1986px #94ABF2 , 363px 284px #94ABF2 , 1987px 1268px #94ABF2 , 1702px 274px #94ABF2 , 1278px 795px #94ABF2 , 1540px 776px #94ABF2 , 393px 446px #94ABF2 , 441px 308px #94ABF2 , 1513px 1859px #94ABF2 , 1958px 1425px #94ABF2 , 680px 739px #94ABF2 , 963px 1727px #94ABF2 , 803px 1469px #94ABF2 , 106px 935px #94ABF2 , 565px 1814px #94ABF2 , 379px 676px #94ABF2 , 1005px 608px #94ABF2 , 603px 643px #94ABF2 , 268px 737px #94ABF2 , 242px 1583px #94ABF2 , 135px 408px #94ABF2 , 1644px 1597px #94ABF2 , 1820px 852px #94ABF2 , 872px 1689px #94ABF2 , 1104px 738px #94ABF2 , 348px 1108px #94ABF2 , 667px 989px #94ABF2 , 1363px 1682px #94ABF2 , 460px 399px #94ABF2 , 74px 1757px #94ABF2 , 1349px 1790px #94ABF2 , 1560px 1043px #94ABF2 , 484px 1816px #94ABF2 , 630px 1823px #94ABF2 , 602px 1317px #94ABF2 , 95px 1303px #94ABF2 , 22px 362px #94ABF2 , 782px 700px #94ABF2 , 1721px 350px #94ABF2 , 1264px 1834px #94ABF2 , 696px 381px #94ABF2 , 457px 1388px #94ABF2 , 1859px 693px #94ABF2 , 715px 1450px #94ABF2 , 816px 1523px #94ABF2 , 1058px 1180px #94ABF2 , 937px 329px #94ABF2 , 327px 1316px #94ABF2 , 1256px 1872px #94ABF2 , 1785px 1004px #94ABF2 , 1742px 1466px #94ABF2 , 1237px 597px #94ABF2 , 1861px 531px #94ABF2 , 1833px 1604px #94ABF2 , 1204px 1784px #94ABF2 , 1012px 1853px #94ABF2 , 1298px 971px #94ABF2 , 266px 477px #94ABF2 , 537px 1125px #94ABF2 , 791px 400px #94ABF2 , 1152px 548px #94ABF2 , 1933px 662px #94ABF2 , 1231px 968px #94ABF2 , 252px 1847px #94ABF2 , 1538px 1595px #94ABF2 , 315px 1820px #94ABF2 , 1026px 616px #94ABF2 , 417px 1713px #94ABF2 , 1967px 1347px #94ABF2 , 766px 961px #94ABF2 , 186px 1016px #94ABF2 , 574px 767px #94ABF2 , 1561px 913px #94ABF2 , 1414px 92px #94ABF2 , 1636px 1045px #94ABF2 , 1782px 1463px #94ABF2 , 1182px 999px #94ABF2 , 1613px 760px #94ABF2 , 1811px 1596px #94ABF2 , 493px 58px #94ABF2 , 716px 1415px #94ABF2 , 1501px 1972px #94ABF2 , 893px 329px #94ABF2 , 193px 333px #94ABF2 , 55px 1646px #94ABF2 , 499px 693px #94ABF2 , 1887px 104px #94ABF2 , 1912px 1125px #94ABF2 , 322px 1718px #94ABF2 , 1037px 107px #94ABF2 , 1203px 249px #94ABF2 , 1448px 1937px #94ABF2 , 157px 172px #94ABF2 , 432px 636px #94ABF2 , 1085px 1948px #94ABF2 , 866px 1248px #94ABF2 , 350px 1347px #94ABF2 , 112px 1063px #94ABF2 , 1230px 1461px #94ABF2 , 1424px 580px #94ABF2 , 1642px 1117px #94ABF2 , 578px 1833px #94ABF2 , 1346px 987px #94ABF2 , 1961px 728px #94ABF2 , 1670px 931px #94ABF2 , 228px 1097px #94ABF2 , 1050px 694px #94ABF2 , 296px 788px #94ABF2 , 490px 1080px #94ABF2 , 1307px 1119px #94ABF2 , 856px 477px #94ABF2 , 1264px 1908px #94ABF2 , 436px 784px #94ABF2 , 219px 500px #94ABF2 , 676px 1236px #94ABF2 , 791px 1px #94ABF2 , 646px 722px #94ABF2 , 200px 1769px #94ABF2 , 1998px 654px #94ABF2 , 1685px 1856px #94ABF2 , 439px 1725px #94ABF2 , 1707px 1613px #94ABF2 , 1639px 601px #94ABF2 , 1655px 196px #94ABF2 , 1657px 640px #94ABF2 , 759px 641px #94ABF2 , 1498px 1053px #94ABF2 , 45px 1721px #94ABF2 , 581px 1423px #94ABF2 , 638px 520px #94ABF2 , 150px 1677px #94ABF2 , 238px 677px #94ABF2 , 231px 1111px #94ABF2 , 352px 1028px #94ABF2 , 209px 1292px #94ABF2 , 961px 184px #94ABF2 , 324px 1775px #94ABF2 , 271px 1850px #94ABF2 , 1115px 1754px #94ABF2 , 685px 1141px #94ABF2 , 103px 994px #94ABF2 , 1816px 543px #94ABF2 , 930px 1541px #94ABF2 , 805px 1887px #94ABF2 , 1885px 1447px #94ABF2 , 360px 1554px #94ABF2 , 1713px 1117px #94ABF2 , 792px 203px #94ABF2 , 656px 1394px #94ABF2 , 1272px 1418px #94ABF2 , 1398px 1581px #94ABF2 , 1301px 621px #94ABF2 , 1585px 115px #94ABF2 , 53px 92px #94ABF2 , 1826px 1271px #94ABF2 , 200px 1047px #94ABF2 , 283px 1965px #94ABF2 , 1949px 1526px #94ABF2 , 1493px 262px #94ABF2 , 1452px 1703px #94ABF2 , 183px 1929px #94ABF2 , 255px 531px #94ABF2 , 1931px 1594px #94ABF2 , 1994px 1374px #94ABF2 , 30px 1737px #94ABF2 , 357px 1441px #94ABF2 , 687px 195px #94ABF2 , 862px 1948px #94ABF2 , 825px 654px #94ABF2 , 1554px 1223px #94ABF2 , 1602px 1432px #94ABF2 , 1195px 613px #94ABF2 , 1323px 1607px #94ABF2 , 381px 1713px #94ABF2 , 1403px 1084px #94ABF2 , 472px 563px #94ABF2 , 1415px 895px #94ABF2 , 632px 1202px #94ABF2 , 1763px 182px #94ABF2 , 65px 992px #94ABF2 , 1707px 297px #94ABF2 , 1478px 29px #94ABF2 , 1088px 1511px #94ABF2 , 1440px 423px #94ABF2 , 1575px 873px #94ABF2 , 334px 31px #94ABF2 , 859px 597px #94ABF2 , 1871px 373px #94ABF2 , 850px 1419px #94ABF2 , 414px 1413px #94ABF2 , 1546px 777px #94ABF2 , 781px 1005px #94ABF2 , 1241px 1727px #94ABF2 , 897px 696px #94ABF2 , 36px 1776px #94ABF2 , 81px 867px #94ABF2 , 422px 816px #94ABF2 , 659px 999px #94ABF2 , 1953px 1591px #94ABF2 , 1475px 879px #94ABF2 , 214px 1267px #94ABF2 , 1883px 1478px #94ABF2 , 458px 609px #94ABF2 , 330px 1037px #94ABF2 , 508px 224px #94ABF2 , 579px 420px #94ABF2 , 1834px 1750px #94ABF2 , 476px 923px #94ABF2 , 1582px 1899px #94ABF2 , 1955px 1931px #94ABF2 , 1355px 1450px #94ABF2 , 519px 1588px #94ABF2 , 478px 178px #94ABF2 , 1524px 452px #94ABF2 , 289px 841px #94ABF2 , 1854px 1119px #94ABF2 , 1679px 1716px #94ABF2 , 1690px 1696px #94ABF2 , 1939px 1907px #94ABF2 , 879px 1173px #94ABF2 , 356px 203px #94ABF2 , 689px 912px #94ABF2 , 1710px 280px #94ABF2 , 322px 17px #94ABF2 , 1553px 1292px #94ABF2 , 1296px 825px #94ABF2 , 1397px 348px #94ABF2 , 822px 1910px #94ABF2 , 1213px 853px #94ABF2 , 758px 935px #94ABF2 , 844px 582px #94ABF2 , 773px 1499px #94ABF2 , 1702px 1016px #94ABF2 , 552px 1678px #94ABF2 , 1882px 529px #94ABF2 , 1445px 337px #94ABF2 , 1691px 1155px #94ABF2 , 727px 1838px #94ABF2 , 1573px 1456px #94ABF2 , 373px 1833px #94ABF2 , 1659px 1750px #94ABF2 , 768px 111px #94ABF2 , 1145px 1779px #94ABF2 , 1648px 1548px #94ABF2 , 1138px 1132px #94ABF2 , 1067px 412px #94ABF2 , 1212px 1220px #94ABF2 , 908px 900px #94ABF2 , 1339px 1272px #94ABF2 , 1604px 169px #94ABF2 , 1683px 940px #94ABF2 , 1116px 1001px #94ABF2 , 1216px 726px #94ABF2 , 1173px 1996px #94ABF2 , 1813px 1359px #94ABF2 , 433px 1046px #94ABF2 , 1522px 1954px #94ABF2 , 1145px 375px #94ABF2 , 1124px 250px #94ABF2 , 1758px 684px #94ABF2 , 438px 498px #94ABF2 , 1105px 1859px #94ABF2 , 316px 421px #94ABF2 , 173px 1793px #94ABF2 , 1336px 674px #94ABF2 , 400px 1757px #94ABF2 , 75px 484px #94ABF2 , 981px 835px #94ABF2 , 607px 1255px #94ABF2 , 917px 657px #94ABF2 , 756px 1992px #94ABF2 , 1823px 1885px #94ABF2 , 1596px 1287px #94ABF2 , 841px 1144px #94ABF2 , 16px 1778px #94ABF2 , 558px 15px #94ABF2 , 1053px 743px #94ABF2 , 1748px 833px #94ABF2 , 705px 1439px #94ABF2 , 12px 1483px #94ABF2 , 1364px 1175px #94ABF2 , 683px 581px #94ABF2 , 497px 517px #94ABF2 , 313px 545px #94ABF2 , 1071px 121px #94ABF2 , 631px 1509px #94ABF2 , 1060px 1813px #94ABF2 , 1687px 655px #94ABF2 , 797px 101px #94ABF2 , 214px 840px #94ABF2 , 215px 572px #94ABF2 , 1459px 434px #94ABF2 , 196px 423px #94ABF2 , 1829px 875px #94ABF2 , 932px 968px #94ABF2 , 305px 1673px #94ABF2 , 1121px 693px #94ABF2 , 1711px 265px #94ABF2 , 549px 1236px #94ABF2 , 1393px 1477px #94ABF2 , 271px 84px #94ABF2 , 1407px 1274px #94ABF2 , 5px 534px #94ABF2 , 36px 1575px #94ABF2 , 645px 1141px #94ABF2 , 1060px 348px #94ABF2 , 1929px 1740px #94ABF2 , 1609px 1815px #94ABF2 , 1341px 1787px #94ABF2 , 1043px 90px #94ABF2 , 635px 791px #94ABF2 , 1616px 1166px #94ABF2 , 1402px 541px #94ABF2 , 1270px 778px #94ABF2 , 84px 812px #94ABF2 , 157px 1473px #94ABF2 , 1466px 1717px #94ABF2 , 931px 106px #94ABF2 , 917px 1080px #94ABF2 , 1098px 107px #94ABF2 , 269px 1665px #94ABF2 , 709px 595px #94ABF2 , 597px 1860px #94ABF2 , 1270px 1519px #94ABF2 , 977px 1469px #94ABF2 , 326px 1759px #94ABF2;
  }
  
  #dotsXL {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 398px 1316px #FFF , 939px 1050px #94ABF2 , 1896px 1253px #94ABF2 , 1691px 1512px #94ABF2 , 561px 387px #94ABF2 , 382px 341px #94ABF2 , 667px 236px #94ABF2 , 662px 689px #94ABF2 , 1100px 1636px #94ABF2 , 312px 894px #94ABF2 , 419px 1947px #94ABF2 , 1572px 1299px #94ABF2 , 637px 1995px #94ABF2 , 178px 2px #94ABF2 , 1785px 1575px #94ABF2 , 1963px 43px #94ABF2 , 914px 1721px #94ABF2 , 1912px 1767px #94ABF2 , 507px 1466px #94ABF2 , 863px 1313px #94ABF2 , 1775px 1174px #94ABF2 , 1302px 371px #94ABF2 , 1592px 894px #94ABF2 , 171px 482px #94ABF2 , 600px 1516px #94ABF2 , 666px 913px #94ABF2 , 1310px 1617px #94ABF2 , 114px 721px #94ABF2 , 1795px 309px #94ABF2 , 1240px 554px #94ABF2 , 605px 706px #94ABF2 , 1184px 59px #94ABF2 , 1841px 1257px #94ABF2 , 665px 1376px #94ABF2 , 1108px 841px #94ABF2 , 1321px 1860px #94ABF2 , 1211px 896px #94ABF2 , 1600px 1300px #94ABF2 , 1340px 152px #94ABF2 , 1784px 1799px #94ABF2 , 1313px 1030px #94ABF2 , 1081px 1729px #94ABF2 , 793px 1865px #94ABF2 , 1079px 832px #94ABF2 , 1201px 1907px #94ABF2 , 1064px 1026px #94ABF2 , 558px 436px #94ABF2 , 586px 502px #94ABF2 , 52px 1510px #94ABF2 , 594px 1085px #94ABF2 , 1454px 102px #94ABF2 , 459px 88px #94ABF2 , 1144px 1198px #94ABF2 , 1560px 102px #94ABF2 , 41px 982px #94ABF2 , 936px 1399px #94ABF2 , 204px 67px #94ABF2 , 542px 797px #94ABF2 , 892px 801px #94ABF2 , 775px 259px #94ABF2 , 1569px 314px #94ABF2 , 1032px 1757px #94ABF2 , 1702px 1270px #94ABF2 , 1861px 867px #94ABF2 , 1009px 956px #94ABF2 , 788px 723px #94ABF2 , 234px 1529px #94ABF2 , 1939px 930px #94ABF2 , 1930px 930px #94ABF2 , 1905px 1006px #94ABF2 , 1561px 1573px #94ABF2 , 290px 1167px #94ABF2 , 1864px 1083px #94ABF2 , 22px 127px #94ABF2 , 1825px 1397px #94ABF2 , 1445px 1695px #94ABF2 , 1147px 1175px #94ABF2 , 1749px 307px #94ABF2 , 373px 5px #94ABF2 , 1488px 956px #94ABF2 , 214px 1955px #94ABF2 , 1995px 1502px #94ABF2 , 1019px 1132px #94ABF2 , 264px 1907px #94ABF2 , 756px 561px #94ABF2 , 1233px 1940px #94ABF2 , 274px 868px #94ABF2 , 377px 1498px #94ABF2 , 1137px 610px #94ABF2 , 1550px 1729px #94ABF2 , 785px 552px #94ABF2 , 1752px 1591px #94ABF2 , 1437px 1836px #94ABF2 , 893px 1660px #94ABF2 , 253px 1285px #94ABF2 , 638px 690px #94ABF2 , 787px 607px #94ABF2 , 282px 775px #94ABF2 , 17px 1011px #94ABF2 , 1578px 2px #94ABF2 , 1199px 1962px #94ABF2 , 1056px 1604px #94ABF2 , 1425px 1441px #94ABF2 , 889px 1777px #94ABF2 , 414px 1093px #94ABF2 , 52px 1634px #94ABF2 , 1440px 1132px #94ABF2 , 469px 1076px #94ABF2 , 1706px 1905px #94ABF2 , 1592px 1935px #94ABF2 , 458px 1246px #94ABF2 , 1276px 1261px #94ABF2 , 616px 1100px #94ABF2 , 106px 1634px #94ABF2 , 860px 1211px #94ABF2 , 220px 1305px #94ABF2 , 957px 139px #94ABF2 , 1996px 745px #94ABF2 , 1054px 1312px #94ABF2 , 1238px 248px #94ABF2 , 800px 1785px #94ABF2 , 705px 1886px #94ABF2 , 1525px 1285px #94ABF2 , 1454px 247px #94ABF2 , 223px 1713px #94ABF2 , 1768px 755px #94ABF2 , 1856px 1708px #94ABF2 , 1960px 897px #94ABF2 , 831px 914px #94ABF2 , 1341px 609px #94ABF2 , 1558px 239px #94ABF2 , 581px 1487px #94ABF2 , 1700px 1668px #94ABF2 , 1142px 542px #94ABF2 , 1591px 1032px #94ABF2 , 536px 436px #94ABF2 , 1333px 214px #94ABF2 , 639px 1528px #94ABF2 , 1675px 439px #94ABF2 , 179px 1732px #94ABF2 , 744px 457px #94ABF2 , 473px 327px #94ABF2 , 1235px 134px #94ABF2 , 1338px 661px #94ABF2 , 644px 18px #94ABF2 , 329px 628px #94ABF2 , 503px 1872px #94ABF2 , 1297px 1543px #94ABF2 , 537px 1907px #94ABF2 , 99px 823px #94ABF2 , 510px 1867px #94ABF2 , 562px 581px #94ABF2 , 1977px 1566px #94ABF2 , 1994px 630px #94ABF2 , 922px 746px #94ABF2 , 1680px 832px #94ABF2 , 957px 1379px #94ABF2 , 39px 1876px #94ABF2 , 1929px 545px #94ABF2 , 527px 945px #94ABF2 , 1253px 1192px #94ABF2 , 536px 480px #94ABF2 , 1235px 1743px #94ABF2 , 1865px 154px #94ABF2 , 1344px 560px #94ABF2 , 1317px 1857px #94ABF2 , 1553px 121px #94ABF2 , 1782px 1985px #94ABF2 , 707px 633px #94ABF2 , 1883px 779px #94ABF2 , 202px 909px #94ABF2 , 1226px 205px #94ABF2 , 294px 1919px #94ABF2 , 85px 1498px #94ABF2 , 1390px 378px #94ABF2 , 967px 980px #94ABF2 , 1811px 1028px #94ABF2 , 966px 1703px #94ABF2 , 1965px 1401px #94ABF2 , 1146px 469px #94ABF2 , 883px 49px #94ABF2 , 1199px 1470px #94ABF2 , 1543px 1139px #94ABF2 , 1733px 655px #94ABF2 , 1295px 574px #94ABF2 , 1428px 1727px #94ABF2 , 206px 1555px #94ABF2 , 912px 1622px #94ABF2 , 1351px 1275px #94ABF2 , 1494px 950px #94ABF2 , 899px 1174px #94ABF2 , 1558px 994px #94ABF2 , 1711px 1206px #94ABF2 , 768px 511px #94ABF2 , 1535px 1385px #94ABF2 , 1716px 1868px #94ABF2 , 1316px 475px #94ABF2 , 1497px 1552px #94ABF2 , 989px 1885px #94ABF2 , 680px 1023px #94ABF2;
    animation: animStar 50s linear infinite;
  }
  #dotsXL:after {
    content: " ";
    position: absolute;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 398px 1316px #FFF , 939px 1050px #94ABF2 , 1896px 1253px #94ABF2 , 1691px 1512px #94ABF2 , 561px 387px #94ABF2 , 382px 341px #94ABF2 , 667px 236px #94ABF2 , 662px 689px #94ABF2 , 1100px 1636px #94ABF2 , 312px 894px #94ABF2 , 419px 1947px #94ABF2 , 1572px 1299px #94ABF2 , 637px 1995px #94ABF2 , 178px 2px #94ABF2 , 1785px 1575px #94ABF2 , 1963px 43px #94ABF2 , 914px 1721px #94ABF2 , 1912px 1767px #94ABF2 , 507px 1466px #94ABF2 , 863px 1313px #94ABF2 , 1775px 1174px #94ABF2 , 1302px 371px #94ABF2 , 1592px 894px #94ABF2 , 171px 482px #94ABF2 , 600px 1516px #94ABF2 , 666px 913px #94ABF2 , 1310px 1617px #94ABF2 , 114px 721px #94ABF2 , 1795px 309px #94ABF2 , 1240px 554px #94ABF2 , 605px 706px #94ABF2 , 1184px 59px #94ABF2 , 1841px 1257px #94ABF2 , 665px 1376px #94ABF2 , 1108px 841px #94ABF2 , 1321px 1860px #94ABF2 , 1211px 896px #94ABF2 , 1600px 1300px #94ABF2 , 1340px 152px #94ABF2 , 1784px 1799px #94ABF2 , 1313px 1030px #94ABF2 , 1081px 1729px #94ABF2 , 793px 1865px #94ABF2 , 1079px 832px #94ABF2 , 1201px 1907px #94ABF2 , 1064px 1026px #94ABF2 , 558px 436px #94ABF2 , 586px 502px #94ABF2 , 52px 1510px #94ABF2 , 594px 1085px #94ABF2 , 1454px 102px #94ABF2 , 459px 88px #94ABF2 , 1144px 1198px #94ABF2 , 1560px 102px #94ABF2 , 41px 982px #94ABF2 , 936px 1399px #94ABF2 , 204px 67px #94ABF2 , 542px 797px #94ABF2 , 892px 801px #94ABF2 , 775px 259px #94ABF2 , 1569px 314px #94ABF2 , 1032px 1757px #94ABF2 , 1702px 1270px #94ABF2 , 1861px 867px #94ABF2 , 1009px 956px #94ABF2 , 788px 723px #94ABF2 , 234px 1529px #94ABF2 , 1939px 930px #94ABF2 , 1930px 930px #94ABF2 , 1905px 1006px #94ABF2 , 1561px 1573px #94ABF2 , 290px 1167px #94ABF2 , 1864px 1083px #94ABF2 , 22px 127px #94ABF2 , 1825px 1397px #94ABF2 , 1445px 1695px #94ABF2 , 1147px 1175px #94ABF2 , 1749px 307px #94ABF2 , 373px 5px #94ABF2 , 1488px 956px #94ABF2 , 214px 1955px #94ABF2 , 1995px 1502px #94ABF2 , 1019px 1132px #94ABF2 , 264px 1907px #94ABF2 , 756px 561px #94ABF2 , 1233px 1940px #94ABF2 , 274px 868px #94ABF2 , 377px 1498px #94ABF2 , 1137px 610px #94ABF2 , 1550px 1729px #94ABF2 , 785px 552px #94ABF2 , 1752px 1591px #94ABF2 , 1437px 1836px #94ABF2 , 893px 1660px #94ABF2 , 253px 1285px #94ABF2 , 638px 690px #94ABF2 , 787px 607px #94ABF2 , 282px 775px #94ABF2 , 17px 1011px #94ABF2 , 1578px 2px #94ABF2 , 1199px 1962px #94ABF2 , 1056px 1604px #94ABF2 , 1425px 1441px #94ABF2 , 889px 1777px #94ABF2 , 414px 1093px #94ABF2 , 52px 1634px #94ABF2 , 1440px 1132px #94ABF2 , 469px 1076px #94ABF2 , 1706px 1905px #94ABF2 , 1592px 1935px #94ABF2 , 458px 1246px #94ABF2 , 1276px 1261px #94ABF2 , 616px 1100px #94ABF2 , 106px 1634px #94ABF2 , 860px 1211px #94ABF2 , 220px 1305px #94ABF2 , 957px 139px #94ABF2 , 1996px 745px #94ABF2 , 1054px 1312px #94ABF2 , 1238px 248px #94ABF2 , 800px 1785px #94ABF2 , 705px 1886px #94ABF2 , 1525px 1285px #94ABF2 , 1454px 247px #94ABF2 , 223px 1713px #94ABF2 , 1768px 755px #94ABF2 , 1856px 1708px #94ABF2 , 1960px 897px #94ABF2 , 831px 914px #94ABF2 , 1341px 609px #94ABF2 , 1558px 239px #94ABF2 , 581px 1487px #94ABF2 , 1700px 1668px #94ABF2 , 1142px 542px #94ABF2 , 1591px 1032px #94ABF2 , 536px 436px #94ABF2 , 1333px 214px #94ABF2 , 639px 1528px #94ABF2 , 1675px 439px #94ABF2 , 179px 1732px #94ABF2 , 744px 457px #94ABF2 , 473px 327px #94ABF2 , 1235px 134px #94ABF2 , 1338px 661px #94ABF2 , 644px 18px #94ABF2 , 329px 628px #94ABF2 , 503px 1872px #94ABF2 , 1297px 1543px #94ABF2 , 537px 1907px #94ABF2 , 99px 823px #94ABF2 , 510px 1867px #94ABF2 , 562px 581px #94ABF2 , 1977px 1566px #94ABF2 , 1994px 630px #94ABF2 , 922px 746px #94ABF2 , 1680px 832px #94ABF2 , 957px 1379px #94ABF2 , 39px 1876px #94ABF2 , 1929px 545px #94ABF2 , 527px 945px #94ABF2 , 1253px 1192px #94ABF2 , 536px 480px #94ABF2 , 1235px 1743px #94ABF2 , 1865px 154px #94ABF2 , 1344px 560px #94ABF2 , 1317px 1857px #94ABF2 , 1553px 121px #94ABF2 , 1782px 1985px #94ABF2 , 707px 633px #94ABF2 , 1883px 779px #94ABF2 , 202px 909px #94ABF2 , 1226px 205px #94ABF2 , 294px 1919px #94ABF2 , 85px 1498px #94ABF2 , 1390px 378px #94ABF2 , 967px 980px #94ABF2 , 1811px 1028px #94ABF2 , 966px 1703px #94ABF2 , 1965px 1401px #94ABF2 , 1146px 469px #94ABF2 , 883px 49px #94ABF2 , 1199px 1470px #94ABF2 , 1543px 1139px #94ABF2 , 1733px 655px #94ABF2 , 1295px 574px #94ABF2 , 1428px 1727px #94ABF2 , 206px 1555px #94ABF2 , 912px 1622px #94ABF2 , 1351px 1275px #94ABF2 , 1494px 950px #94ABF2 , 899px 1174px #94ABF2 , 1558px 994px #94ABF2 , 1711px 1206px #94ABF2 , 768px 511px #94ABF2 , 1535px 1385px #94ABF2 , 1716px 1868px #94ABF2 , 1316px 475px #94ABF2 , 1497px 1552px #94ABF2 , 989px 1885px #94ABF2 , 680px 1023px #94ABF2;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-1000px);
    }
  }
  


 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    font-size: 16px;
    margin: 0;
}
body {
    background-color: #A67841;
}
div {
    margin: 0;
	border: 0;
	display: inline-block;
}
.skew-container {
    transition: transform 0.35s cubic-bezier(0.19, 1, 0.22, 1);
}

@media only screen and (min-width: 45em) { 


/* grid styles */
.op-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[12];
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column-gap: 45px;
    margin:  auto;
    position: relative;
}

.op-col-start-1 {
    grid-column-start: 1;
}
.op-col-start-2 {
    grid-column-start: 2;
}
.op-col-start-3 {
    grid-column-start: 3;
}
.op-col-start-4 {
    grid-column-start: 4;
}
.op-col-start-5 {
    grid-column-start: 5;
}
.op-col-start-6 {
    grid-column-start: 6;
}
.op-col-start-7 {
    grid-column-start: 7;
}
.op-col-start-8 {
    grid-column-start: 8;
}
.op-col-start-9 {
    grid-column-start: 9;
}
.op-col-start-10 {
    grid-column-start: 10;
}

.op-col-end-12 {
    grid-column-end: -1;
}
.op-col-end-11 {
    grid-column-end: 12;
}
.op-col-end-10 {
    grid-column-end: 11;
}
.op-col-end-9 {
    grid-column-end: 10;
}
.op-col-end-8 {
    grid-column-end: 9;
}
.op-col-end-7 {
    grid-column-end: 8;
}
.op-col-end-6 {
    grid-column-end: 7;
}
.op-col-end-5 {
    grid-column-end:6;
}
.op-col-end-4 {
    grid-column-end: 5;
}
.op-col-end-3 {
    grid-column-end: 4;
}

/* arrow */
.arrow-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 150px;
}

/* img style */
.image-wrapper {
    width: 100%;
    height: 0;
    padding-top: 75%;
    position: relative;
    display: block;
    margin-top: 20%;
}
.image-wrapper-xl {
    width: 100%;
    padding-top: 100%;
    position: relative;
    display: block;
    margin-top:20%;
}
.image-wrapper-med {
    width: 100%;
    padding-top: 66.6%;
    position: relative;
    display: block;
    margin-top: 20%;
}
.image-wrapper-sm {
    width: 100%;
    padding-top: 50%;
    position: relative;
    display: block;
    margin-top: 20%;
}
.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.no-margin {
    margin: 0;
}
.home-btn {
    transition: color 0.3s  ease-in-out;
}
.home-btn:hover {
    color: #94ABF2;
}
}


/*  Mobile Styles */

@media only screen and (min-width: 10em) and (max-width: 45em) { 
/* arrow */
.arrow-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 150px;
}

/* img style */
.image-wrapper {
    width: 100%;
    height: 0;
    padding-top: 75%;
    position: relative;
    display: block;
    margin-top: 20%;
}
.image-wrapper-xl {
    width: 100%;
    padding-top: 100%;
    position: relative;
    display: block;
    margin-top:20%;
}
.image-wrapper-med {
    width: 100%;
    padding-top: 66.6%;
    position: relative;
    display: block;
    margin-top: 20%;
}
.image-wrapper-sm {
    width: 100%;
    padding-top: 50%;
    position: relative;
    display: block;
    margin-top: 20%;
}
.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.no-margin {
    margin: 0;
    padding: 0;
}
.negative-margin {
    margin-top: -175px !important;
}
.home-btn {
    transition: color 0.3s  ease-in-out;
}
.home-btn:hover {
    color: #94ABF2;
}   
.pink-text {
    font-size: 45px;
    color: #F2E2DC !important;
    line-height: 55px; 
}
.cta-container {
    display: none;
}


/* grid changes for plant images  */
.one {
    grid-column-end: 10;
    margin-bottom: 25px;
}
.arrow {
    grid-column-start: 11;
    grid-column-end: 11;
}
.two {
    grid-column-start: 2;
    grid-column-end-11;
}
.three {
    grid-column-start: 1;
    grid-column-end: 12;
}
.four {
    grid-column-start: 3;
    grid-column-end: 12;
    margin-bottom: 45px;
}
.six {
    grid-column-start: 2;
    grid-column-end: 2;
}
.seven {
    grid-column-start: 4;
    grid-column-end: -1;
    margin-bottom: 25px;
}
.eight {
    grid-column-start: 1;
    margin-bottom: 25px;
}
.nine {
    margin-top: 200px
}
.eleven {
    grid-column-start: 2;
    
}
.twelve {
    grid-column-start: 3;
    margin-top: 180px;
}
.thirteen {
    margin-bottom: 145px;
}

}



 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}
